* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* header */
header {
  background-color: rgba(11, 20, 22, 0.9);
  width: 160px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.menu-item {
  display: block;
  height: 80px;
  width: 100%;
  line-height: 80px;
  color: white;
  float: left;
  text-decoration: none;
  transition: all 0.5s;
  text-align: center;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-device {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.15);
}

/* main */
main {
  background-color:white;
  margin-left: 160px;
  padding: 12px;
}

.top-container {
  height: 40px;
  position: fixed;
  top: 0px;
  left: 172px;
  right: 12px;
  z-index: 100;
  background-color: white;
  /* box-shadow:0px 1px 1px #7a7a7a; */
}

.device-column-title {
  position: absolute;
  height: 20px;
  width: 100%;
  top: 0px;
}

.device-column-item {
  float: left;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  height: 20px;
}

.column-device-status {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 10%;
}

.column-device-id {
  position: absolute;
  top: 0px;
  left: 10%;
  width: 10%;
}

.column-device-name {
  position: absolute;
  top: 0px;
  left: 20%;
  width: 40%;
}

.column-device-alert {
  position: absolute;
  top: 0px;
  left: 60%;
  width: 20%;
}

.column-device-model {
  position: absolute;
  top: 0px;
  left: 80%;
  width: 10%;
}

.column-device-date {
  position: absolute;
  top: 0px;
  left: 90%;
  width: 10%;
}

.device-wrapper {
  position: absolute;
  top: 52px;
  left: 172px;
  right: 12px;
  bottom: 0px;
}

.device-component {
  position: relative;
  height: 60px;
  width: 100%;
  background-color: #F6F6F6;
  border-radius: 4px;
  /* padding: 4px 0; */
  margin-bottom: 4px;
}

.device-component-item {
  display: inline-block;
  position: absolute;
  font-size: 12px;
}

.green-led {
  background-color: #4cff46;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 40%;
  left: 4%;
}

.red-led {
  background-color: #7a7a7a;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  top: 40%;
  left: 4%;
}

.device-id {
  top: 0%;
  left: 10%;
  width: 10%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  margin: 0px;
}

.device-name {
  top: 30%;
  left: 21%;
  width: 38%;
  font-size: 14px;
}

.column-upper-limit {
  bottom: 52%;
  left: 61%;
  width: 5%;
  text-align: right;
  margin: 0px;
}

.upper-limit {
  bottom: 52%;
  left: 67%;
  width: 12%;
}

.column-lower-limit {
  top: 52%;
  left: 61%;
  width: 5%;
  text-align: right;
  margin: 0%;
}

.lower-limit {
  top: 52%;
  left: 67%;
  width: 12%;
}

.device-model {
  top: 0%;
  left: 80%;
  width: 10%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  margin: 0px;
}

.device-date {
  top: 0%;
  left: 90%;
  width: 10%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  margin: 0px;
}

.save-button {
  display: inline-block;
  float: right;
  height: 40px;
  width: 160px;
  text-align: center;
  background-color: #00ff95;
  border-radius: 2px;
  line-height: 40px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.save-button:hover {
  opacity: 0.6;
}